@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using GameXuaVN.Web.Resources
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IAlertManager AlertManager
@inject ILanguageManager LanguageManager
@{
    AbpAntiForgeryManager.SetCookie(Context);
    string siteName = "Trò chơi xưa";
    string siteUrl = "http://trochoixua.io.vn/";
    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += siteName;
}
<!DOCTYPE html>
<html lang="@LanguageManager.CurrentLanguage.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@pageTitle</title>
    <meta name="keywords" content="Contra, Super Mario, Tank, game NES, game cổ điển, chơi game trực tuyến">
    <meta name="description" content="Chơi game cổ điển như Contra, Super Mario, và Tank miễn phí trực tuyến. Khám phá những game NES huyền thoại và sống lại ký ức tuổi thơ của bạn!">
    <meta property="og:title" content="@pageTitle">
    <meta property="og:description" content="Chơi game cổ điển như Contra, Super Mario, và Tank miễn phí trực tuyến. Khám phá những game NES huyền thoại và sống lại ký ức tuổi thơ của bạn!">
    <meta property="og:image" content="@(siteUrl)img/contra-wallpaper.jpg">
    <meta property="og:site_name" content="trochoixua.io.vn" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="@siteUrl" />

    <meta name="robots" content="index, follow">
    <environment names="Staging,Production">
        <meta name="google-adsense-account" content="ca-pub-8576118237502630">
    </environment>

    @await Html.PartialAsync("_Styles.cshtml")
    <style>
        .nav-link-main {
            color: #000 !important;
        }

        .text-white-90 {
            color: rgba(256,256,256, .9) !important;
        }
    </style>
    @RenderSection("styles", required: false)


</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_Header.cshtml")
        @RenderBody()
        @await Html.PartialAsync("_BottomBar.cshtml")
    </div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
    @WebResourceManager.RenderScripts()
    <environment names="Staging,Production">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8576118237502630"
                crossorigin="anonymous"></script>
        <!-- RightSide -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8576118237502630"
             data-ad-slot="1217511263"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </environment>

</body>
</html>
