@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/views/shared/frontends/_layout.cshtml";


}
@using GameXuaVN.Web.Models.Games

@model PlayingGameViewModel

<div class="content-wrapper">
    @if (Model != null && Model.Data != null)
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Model.Data.Name</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">@L("TotalPlay")</span>
                                        <span class="info-box-number text-center text-muted mb-0">@Model.Data.TotalPlay</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">@L("TotalLike")</span>
                                        <span class="info-box-number text-center text-muted mb-0">@Model.Data.TotalLike</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">@L("TotalDislike")</span>
                                        <span class="info-box-number text-center text-muted mb-0">@Model.Data.TotalDislike</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h3>Click vào màn hình để chơi</h3>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <iframe src="@Url.Action("Play","Nes", new {id = Model.Id})" style="width:1000px; height:600px; "></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@L("TopGame")</h3>
            </div>
            <div class="card-body">
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        @if (Model != null && Model.TopList != null && Model.TopList.Count > 0)
                        {
                            foreach (var item in Model.TopList)
                            {
                                <div class="col-lg-3 col-3">
                                    <div class="small-box bg-game-card">
                                        <div class="inner">
                                            <img src="@item.ThumbnailBase64" alt="@item.Title" style="width:266px; height:178px;" />
                                        </div>
                                        <a href="@Url.Action("Detail", "Nes", new {id = item.Id, title = item.Url})"> <p class="game-name"> @item.Name</p></a>
                                        <a href="@Url.Action("Detail", "Nes", new {id = item.Id, title = item.Url})" class="small-box-footer">
                                            @L("Play") <i class="fas fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
    }
</div>