@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Abp.Application.Services.Dto;
@using GameXuaVN.Rooms.Dto;
@{
    Layout = "~/views/shared/frontends/_layout.cshtml";
}


<div class="content-wrapper">
    <div class="col-lg-9 col-md-9">

        <!-- Button tạo room -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>@L("GameList")</h1>
                    </div>
                    <div class="col-sm-6">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="javascript:;" data-toggle="modal" data-target="#RoomCreateModal" class="btn bg-blue float-sm-right">
                                <i class="fa fa-plus-square"></i>
                                @L("Create")
                            </a>
                        }
                        else
                        {
                            <p>You must be logged in to create or join a room.</p>
                        }

                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--Use for bulk actions-->
                                    </div>
                                    <div class="col-md-6">
                                        @await Html.PartialAsync("~/Views/Room/Index.AdvancedSearch.cshtml")
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="RoomsTable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Id</th>
                                                <th>@L("RoomName")</th>
                                                <th>@L("CurrentPlayers")</th>
                                                <th style="width: 150px">@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @await Html.PartialAsync("~/Views/Room/_CreateModal.cshtml", new CreateRoomDto() { })

    </div>
</div>
@section scripts
{
    <script src="~/view-resources/views/rooms/index.js"></script>
    <script>
        var gameHub = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();

            gameHub.on('RoomStatusUpdate', function (roomId, total) {
            $('[data-row-id="'+roomId+'"]').html(2);
        });

    </script>
    @*   <script src="~/view-resources/views/rooms/gamehub.js"></script>
        <script>
            // Hiển thị modal tạo room
            function showCreateRoomModal() {
                document.getElementById("createRoomModal").style.display = "block";
            }

            // Ẩn modal tạo room
            function hideCreateRoomModal() {
                document.getElementById("createRoomModal").style.display = "none";
            }

            // Gửi yêu cầu tham gia room
            function joinRoom(roomId) {
                const form = document.createElement("form");
                form.method = "post";
                form.action = "@Url.Action("JoinRoom", "Rooms")";

                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "RoomId";
                input.value = roomId;

                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
            }
        </script> *@
}